
@media screen 
	and (min-width: 1201px) 
	{ 
		.k8em0
		{
			width:600px; 
			height:600px; 
			background:url(images/k8em0.jpg) 0 0px;
		} 
	}

@media screen 
	and (min-width: 901px) 
	and (max-width: 1200px) 
	{ 
  		.k8em0
  		{
  			width:600px; 
  			height:600px; 
  			background:url(images/k8em0.jpg) 600px 0px;
  		} 
	}

@media screen
	and (min-width: 601px)
	and (max-width: 900px)  
	{ 
  		.k8em0
  		{
  			width:600px; 
  			height:600px; 
  			background:url(images/k8em0.jpg) 0 -600px;
  		} 
	}

@media screen
	and (max-width: 600px)	
	{ 
  		.k8em0
  		{
  			width:600px;
  			height:600px;
  			background:url(images/k8em0.jpg) 600px -600px;
  		} 
	}
